@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a192f;
  color: #ccd6f6;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #233554;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64ffda;
}